@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
    /* loading in a custom font from local machine
    font-family is what we want to refer to it as in our css usage, 
    it can be anything I think? */
    font-family: "Raiders";
    src: url("Fonts/Raiders.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    /* border box makes it so the padding is included inside of the width
    so it doesnt add to the width.
    before: 200 width + 20 padding = 240
    after: 200 width + 20 padding = 200 on the inside!*/
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 249, 249);
}

.main-header {
    background-color: rgba(179, 0, 255, 0.294);
    background-image: url("Images/footer_background.png");
    opacity: 0.75;
    /*blend mode multiply combines the two background settings */
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 20px;
    border-bottom: solid;
    border-color: rgb(217, 152, 152);
    min-width: 375px;
}

.navigation ul {
    margin: 0;
}

.navigation li {
    display: inline;
}

.navigation a {
    /* inline block allows you to add padding and height to top and bottom of inline element
    that you normally cant do with just inline */
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    background-color: rgba(192, 192, 192, 0.256);
    border-radius: 10%;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(241, 169, 169, 0.326);
}

.main-nav li {
    /* 0 padding on top, 5% on left and right */
    padding: 0 5%;
}

p {
    margin-bottom: 0;
    margin-top: .4em;
}

.content-section {
    margin: 1em;
}

.content-sections-container {
    max-width: 800px;
    min-width: 375px;
    /* 0 margin on top and bottom, auto margin on left and right keeps it centered */
    margin: 0 auto;
    padding: 1.5em;
}

.section-header {
    font-family: "Raiders";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image,
.band-member-image {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 15px;
    min-width: 200px;
}

.main-footer {
    background-color: rgba(241, 5, 233, 0.575);
    opacity: .75;
    background-image: url("Images/footer_background.png");
    /*blend mode multiply combines the two background settings */
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    padding: .25em 0;
    height: 5em;
    border-top: solid;
    border-color: rgb(217, 152, 152);
    min-width: 375px;
}

.main-footer-container {
    display: flex;
    /* centers items vertically inside the flex blox */
    align-items: center;
    height: 5em;
}

.main-footer-container ul {
    flex-grow: 1;
    /* makes the ul items go to right side instead of left */
    text-align: end;
    padding-right: 1em;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 1.5em;
    font-family: "Raiders";
    /* h1 headers automatically put bold so remove it */
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 3.5em;
    margin-top: .25em;
}

.footer-name{
    padding-left: .75em;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 25px;
    height: auto;
}

.header-btns {
    display: flex;
    justify-content: center;
    padding: 0.75em 0 0.75em 0;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em;
    cursor: pointer;
    margin: 0 0.75em;
}

.fire-btn {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🔥</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

.rainbow-btn {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌈</text></svg>") 16 0, auto;
    /*!emojicursor.app*/
}

.btn-header {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.463);
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, 0.462);
}

.btn-smiley {
    /*
    display: block;
    margin: 0 auto;
    */
    font-size: 1.5em;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border-bottom: none;
}

.tour-item{
    /* change to inline-block so you can change width, see tour-date */
    display: inline-block;
    padding-right: .5em;
}

.tour-date{
    color: #555;
    font-weight: bold;
    width: 11%;
}

.tour-city{
    width: 24%;
}

.tour-arena{
    width: 42%;
}

.tour-btn{
    max-width: 19%;
}

.btn-primary{
    color: white;
    background-color: #56CCF2;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: .5em;
}

.btn-primary:hover{
    background-color: #2D9CDB;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item{
    margin: 30px;
}

.shop-item-title{
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image{
    height: 250px;
}

.shop-item-details{
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price{
    flex-grow: 1;
    color: #333;
}

.cart-header{
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.cart-column{
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.cart-row{
    display: flex;
}

.cart-item{
    width: 45%;
}

.cart-price{
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity{
    width: 35%;
}

.cart-item-title{
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image{
    width: 75px;
    height: auto;
    border-radius: 10%;
}

.btn-danger{
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #CC4C4C;
}

.cart-quantity-input{
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color:#333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
}

.cart-row:last-child{
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column{
    border: none;
}

.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title{
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price{
    color: #333;
    font-size: 1.1em;
}

.btn-purchase{
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

/* Mobile Devices */
@media only screen and (max-width: 500px) {
    .band-name-large {
        font-size: 2.4em;
        margin-top: .25em;
    }

    .content-section {
        margin: 1em;
        font-size: 1.3em;
        margin-bottom: 3em;
    }
    
    .content-sections-container {
        max-width: 800px;
        min-width: 375px;
        /* 0 margin on top and bottom, auto margin on left and right keeps it centered */
        margin: 0 auto;
        padding: .5em;
    }

    .about-band-image,
    .band-member-image {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.section-header {
    font-family: "Raiders";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 1.4em;
}

.main-footer {
    background-color: rgba(241, 5, 233, 0.575);
    opacity: .75;
    background-image: url("Images/footer_background.png");
    /*blend mode multiply combines the two background settings */
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    padding: .25em 0;
    height: 5em;
    border-top: solid;
    border-color: rgb(217, 152, 152);
}

.main-footer-container {
    display: flex;
    /* centers items vertically inside the flex blox */
    align-items: center;
    height: 5em;
}

.main-footer-container ul {
    flex-grow: 1;
    /* makes the ul items go to right side instead of left */
    text-align: end;
    padding: 0;
    padding-right: 1em;
}

.footer-nav li {
    padding: 0;
}

.footer-nav img {
    width: 25px;
    height: auto;
}

.footer-name{
    padding-left: .3em;
}

  }