.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;
}

/*
Percentage of the width of the screen
*/
.box2 {
    height: 100px;
    width: 10%;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;
}

/*
If font size of the parent (<body> in this case) is 16 pixels
1em is 16 pixel
2em is 32 pixels

rem goes off the font size of the root of the document
*/
body{
    font-size: 20px;
}
.box3 {
    height: 100px;
    width: 2em;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: red;
}